body{
    margin: 0;
    padding: 0;
}

div.title, main, footer{
    margin: 0 10%;
}

.top-head{
    background-color: #4a97f6;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-size: auto;
    background-position: top right;
}

.top-head img{
    width: 350px;
    margin: 70px 0 10px 10%;
}

header{
    margin-bottom: 20px;
}

a{
    text-decoration: none;
}

.title{
    font-family: font-family: 'Roboto', sans-serif;;
}

header h1{
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 0;
}

header .sottotitolo{
    font-size: 20px;
    margin: 5px 0;
}

header .data{
    font-size: 15px;
    margin: 0;
}
header .sottotitolo, header .data{
    color: gray;
}

main{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

main .img1{
    width: 51%;
}

main .img2{
    width: 43%;  
}


main .fonte-foto{
    font-size: 15px;
}

section p, section li, section table, footer{
    font-size: 20px;
}

ul{
    padding: 15px;
}

table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table th{
    background-color: rgb(84, 84, 223);
    color: white;
}

table td{
   max-width: 200px;
}

table tr:nth-child(even){
    background-color: lightblue;
}

footer .consigli-1{
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    color: white;
    margin: 10px 0;
}

footer .consigli-2{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    color: white;
    margin: 10px 0;
}
